<a href="https://colab.research.google.com/github/B-Houda/Test/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#this is my first comment
#this my second line comment

In [ ]:
name1 = "anything" # is right into left # with a single quote
name2 = 'anything' #with one quote
name3 = """
this is
a multiple line
string
"""

In [ ]:
?print()

In [ ]:
print(name1) #print a single variable
print(name1, name2) #print a multiple variable
print(name1, name2, sep=":") #print with a different separator
print("this is my first name", name1) # print text with variable

anything
anything anything
anything:anything
this is my first name anything

In [ ]:
#in python datatypes are dynamic 
var1 = 12 
?type()
type(var1)
print("the type of var1 is", type(var1)) #everything is python is an object
print("the type of name1 is ", type(name1)) #<class 'str'> is a string

float1 = 123.234
type(float1)

int2 = -21
print("the type of int 2 is" , type(int2)) #negative variables

#bool1 = true #name 'true' is not defined, when you write any string without any
#quotes, python will search for it as if it was declared before.
bool1 = True
print(type(bool1))
bool2 = False
print(type(bool2))

the type of var1 is <class 'int'>
the type of name1 is  <class 'str'>
the type of int 2 is <class 'int'>
<class 'bool'>
<class 'bool'>

In [ ]:
#""" """: first purpose for multiple line string, and the second for :DocsString:
##### there is only ONE COMMENT LINE IN PYTHON
#COMMENT in python can start from the begining of the line and also from the middle
print("it will only write me") #blablabla
print("# it will write me also") #python will not see it as a comment as it is inside ""

it will only write me
# it will write me also

In [ ]:
print(2 + 2, end="...") #the end will only afect the current print with the second one
print(2*3) #the defautl end is "/n" : new line
print("it will write me after a new line")

50 - 5*6 #python will run 5*6 in the first step and then will execute 50 - the result of 5*6
# * then / then + then -

print(5+3-12*100/30) #(12*100)= r1 then r1/30 = r2 then 5+3 - r2
r1 = 12 *100
r2 = r1/30
print(5+3-r2)

4...6
it will write me after a new line
-32.0
-32.0

In [ ]:
print(8/5) # / will give you a floating number, simple division (/)
print(8 // 5) # this will give you an int number, Floor division (//)

print(8 % 5) #this will give us the REST 8 - (8//5)*5
print(8 - ((8 // 5)*5))

1.6
1
3
3

In [ ]:
print(2 ** 4) 
print(4 ** 2) # if you don't use the print function, python will only output your
#last instruction

#a ** b = b ** a

16
16

In [ ]:
var1 = "anything" # assign the right part into the left part
print(var1)
#print(anything)

var3 = 12*12 # = "assign" will only give it the result of the right part function
print(var3)

print(var1, var3) #print string with Numbers

anything
144
anything 144

In [ ]:
#int any operator float = a float number, it will make an automatic conversion

print(12 * 1.0) # it will give you a floating number
print(int(12*1.0)) #this will give a an int number
#all the datatypes in python have their own conversion function
print("var1 type is", type(12))
var1 = str(12)
print("var1 type is ",type(var1))

print(float(12)) #str, int and float can be used as a conversion functions

12.0
12
var1 type is <class 'int'>
var1 type is  <class 'str'>
12.0

In [ ]:
1 * 12
tax = _ #the input of the last printed INSTRUCTION
print(tax)

12

In [ ]:
#print('l'ecole') #this will give us an error
print('l\'ecole') # \ will force python to read a magic character as a simple character
print("doesn't") #the double quote will force python to accept the single quote

print(""" 
this is our ""
first python session
""") #if you want to espace the double quote, you should write it inside three double quote

l'ecole
doesn't

this is our ""
first python session

In [ ]:
#print("this will not see me \" ") #print " without any problem
#special characters are escaped with backslashes
print(" this is the first line")
print("this is the second line")
print(" this is the first line \n  this is the second line") # \n is a special character for
#a new line
print(r"this is the first line \n this is the second line")
#we use the r: raw string, when we want to write a path
print("this is \\n") # the first \ will ignore the second one

 this is the first line
this is the second line
 this is the first line
  this is the second line
this is the first line \n this is the second line
this is \n

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""") # backslashe at the start will prevent a new line at the output

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [ ]:
"write me 3 times" * 3 #print it 3 times
str1 = "tekup"
str2 = "laptop"
strResult = str1 + str2 #concatinate string with + operand
print(strResult)

tekuplaptop

In [ ]:
"tekup" * 3 + "laptop" # with string the operand have the same value
#* operand is Stronger than + operand

'tekuptekuptekuplaptop'

In [ ]:
print("name1", "name2")
#what is the differece
print("name1" "name2") #two or more strings next to each other will be automatically concatinated
print("name1", "name2", sep=" ")
print('this is the first line \n'
'this is the next line')
print()

name1 name2
name1name2
name1 name2
this is the first line
this is the next line

In [ ]:
print("name one")
print() #an empty print function will write a new line
print() #an empty print function will write a new line
print("name two")

name one


name two

In [ ]:
"first str" "second str" #this is the default output of python: there is no new line 
#after it
str2 = "simple text"
print(str2 + "second str")
print(str2 , "second str") #+ operand will not write a space between two different
#variable, but Comma will do

simple textsecond str
simple text second str

In [ ]:
#string in python can be sliced as a LIST
str2 = "this is the first try" #the first character with index OF 0, 
# the last character with index of len(str2) - 1
print(str2[0])
print(str2[len(str2)-1]) #the index of the last character

t
y

In [ ]:
#when we count with postive numbers, the start will be 0 from the left
#when we count with negative numbers, the start will be -1 from the right
strTest = "Python" # with postive number: P=0, y=1, t=2, h=3, o=4, n=5
#with negative number: n=-1, o=-2, h=-3, t=-4, y=-5, and P=-6

print(strTest[2]) #Positive Index From left to right
print(strTest[-4]) #Negative Index From right to left

t
t

In [ ]:
listOfNumber = [1, 2, 3, 4] #1 has the index of 0, 2:1
listOfString = ["a", "b", "c", "d"] #string List variable should be inside quotes
print(listOfNumber)
print(listOfString)
listOfMultipleDataType = [1, "a", 2.5, [1,2,3]] #List of Lists
print(listOfMultipleDataType)
str1 = "str" * 3
print(str1)
listOfNumber[0]

[1, 2, 3, 4]
['a', 'b', 'c', 'd']
[1, 'a', 2.5, [1, 2, 3]]
strstrstr

1

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1 * 2 #this will not give us [1*(2), 2*(2), 3*(2), 4*(2), 5(2)]
print(list2)
list3 = list1 + [1]
print(list3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1]

In [ ]:
#[var1:var2:var3] var1: the start position, var2: the last position that will not be readen
#var3: the step

list1 = [1,2,3,4,5,6,7,8,9]
print(list1[:]) #by default var1 = 0, var2= len(list), and var3 = 1
print(list1[0:len(list1):1])

print(list1[2:4]) #this should only write 2 variable list1[2] and list1[3]
print(list1[2:3]) #this will only write list1[2]
print(list1[::3]) #steps = 3
print(list1[::-1]) #this will give us an inversed list
print(list1[-1]) #it will give us the last variable included inside the list

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4]
[3]
[1, 4, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
9

In [ ]:
list1 = [1,2,3,4]
#list1.append(1) #append function is the same as + operand and a list[]
#append function will add a new variable at the end of the list
#list2 = list1
#list1.append(1) #append only accept one variable
list3 = list1 + [1,2,3]
print(list3)

[1, 2, 3, 4, 1, 2, 3]

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list1.extend(list2) #the right will be inside the left, it will concatinate two lists together
list3 = [1,2,3,4]
list4 = [5,6,7,8]
list5 = list3 + list4
print(list5)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1 = [1,2,3,4]
#list1.insert(1,5)
#list1.append(5)
list1.insert(len(list1), 5) # this is the same as list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
list1 = [1,2,3,4,5,6]
list1.remove(2) # will not remove by the index, but it will remove by the value
list3 = [12,34,5,65,12] # the equal sign
var1 = 12 in list3 # this will return a BOOL variable with True if it's there or False if it's not
if 20 in list3: #check if we have the value then remove it
  list3.remove(20)
print(list3)

[12, 34, 5, 65, 12]

In [ ]:
#list.remove(x): x is a value inside the list
#list.pop(x): x is an index
list1 = [1,2,3,4,5]
list1.pop() #pop without any argument will remove the last value for the list
print(list1)

[1, 2, 3, 4]

In [ ]:
list1 = [1,2,3,4]
#list1.clear() #the same as del list1[:] both will give us an empty list
#del list1[:]
print(list1)

[]

In [ ]:
list1 = [1,2,3,4,5] #the first index is 0 not 1
print("the index of  1 is",list1.index(1)) # will give you the position of your argument
#and rise an error if it's not there

the index of  1 is 0

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1[::-1] #will give as a reversed list
print(list2)
list3 = list1.reverse()  #reverse (function) is the same as [::-1] (slicing)
print(list1)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [ ]:
list1 = [4,8,2,3,56]
list1.sort(reverse = True) #By default reverse is equal to False
print(list1)

[56, 8, 4, 3, 2]

In [ ]:
list1 = [1,2,3,4]
#list2 = list1.copy() # this is the same us list1[:]
list2 = list1[:]
print(list2)

[1, 2, 3, 4]

In [ ]:
list1 = [1,2,3,4]
#print(6 in list1) #will return True if 2 in list1, else it will return False

list2 = list1 #we don't get the value of list1 in list2, instead we get all the reference
#list2.append(1) #the append function will affect both
print(list1)
print(list2 is list1) #it will return True if both variable have the same reference

list3 = list1.copy() #or list2 = list1[:], like that we will get only the value, not 
#the reference
print(list3 is list1)
print(list3)
# in will check if you have the value inside your list
# is will check if both variables are referencing the same object
print(2 in list3)

[1, 2, 3, 4]
True
False
[1, 2, 3, 4]
True

In [ ]:
list1 = [3,4,5,6,7]
if 8 in list1: #for the most of time, the intendation = 4 spaces
  print("8 in list 1") #an intented block
elif 5 in list1:
  print("the index of 5 is", list1.index(5))
  print("5 in list 1")
else: #this will only be executed if all the previous tests are False
  print("8 is not there")

the index of 5 is 2
5 in list 1

In [ ]:
# x = y, assign the y variable inside x
# x == y, check if x and y have the same value (True if it's, False if it's not)

In [ ]:
list1 = [1,2,3,4,5]
print(list1)
for x in list1:
  print(x,"value", sep="--", end=" ") #because the end argument has a new line value by default
  #sep arg will only work if we have multiple values to print on the same print function

[1, 2, 3, 4, 5]
1--value 2--value 3--value 4--value 5--value

In [ ]:
list1 = ["cat", "dog", "elephant"]
for x in list1:
  print(len(x)) #len(x) = length of x variable, len(x) will give us the last index + 1
  print(x[len(x)-1])

3
t
3
g
8
t

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(2,10,2): #First variable is the starting point, second variable
#is the end point minus one, the last variable will be the steps
  print(x)

2
4
6
8

In [ ]:
print(range(20))

range(0, 20)

In [ ]:
#the difference between break and continue
for i in range(5):
  if(i==2):
    break #continue will just jump to the next iteration
  print(i)

print("I get out")

0
1
I get out

In [ ]:
for i in range(10): #the first value is 0 [0,1,2,3,4,5,6,7,8,9]
  for n in range(i):# for n in range(0): will not be entered, range(1) : [0,1]
    print(n, end=" ")
  print("\nthe next iteration")

the next iteration
0
the next iteration
0 1
the next iteration
0 1 2
the next iteration
0 1 2 3
the next iteration
0 1 2 3 4
the next iteration
0 1 2 3 4 5
the next iteration
0 1 2 3 4 5 6
the next iteration
0 1 2 3 4 5 6 7
the next iteration
0 1 2 3 4 5 6 7 8
the next iteration

In [ ]:
str1 = "1"
int1 = int(str1)
print(type(int1))

str2 = "" #all the empty variable are False
#all the other variable are True
bool1 = bool(str2)
print(type(bool1))
print(bool1)
str3 = "anything"
bool2 = bool(str3)
print(bool2)

<class 'int'>
<class 'bool'>
False
True